* {
    border-spacing: 0;
}

body {
	width: 931px;
	background: #efeeef;
	margin: auto;
	margin-top: 10px;
}

table {
	empty-cells:show;
}

.content {
	background: #ffffff;
}

.header {
	padding-left: 5px;
	padding-right: 5px;
	background: #efeeef;
}

.footer {
	text-align: center;
	background: #efeeef;
}

.footer img {
	background: #efeeef;
	width: 941px;
	z-index: 0;
}

.separatorMenu {
	width: 2px;
	background-image:url('../images/navigation_menu_bg.png');
	margin: 0;
	padding: 0;
	font: 3px verdana,sans-serif;
}

.separatorMenuBottom {
	width: 2px;
	height: 6px;
	background-image:url('../images/navigation_menu_bg_bottom.png');
	margin: 0;
	padding: 0;
	font: 3px verdana,sans-serif;
}

.separatorContent {
	width: 2px;
	background-image:url('../images/content_separator.png');
	background-repeat:repeat-y;
	margin: 0;
	padding: 0;
	font: 3px verdana,sans-serif;
}

.copyright {
	z-index: 1;
	position: relative;
	top: -30px;
	font: 10px verdana,sans-serif;
	text-align: center;
}

.promotionsCaption {
	width: 30%;
	height: 31px;
	background-image:url('../images/promotions_bg.png');
	background-repeat:repeat-x;
	color: #fed967;
	font: 20px verdana,sans-serif;
	text-align: center;
	vertical-align: middle;
}

.promotionsCaptionBottom {
	width: 30%;
	
	background-image:url('../images/promotions_bg_bottom.png');
	background-repeat:repeat-x;
	margin: 0;
	padding: 0;
	font: 1px verdana,sans-serif;
}

.navigationMenu {
	width: 70%;
	height: 31px;
	background-image:url('../images/navigation_menu_bg.png');
	background-repeat:repeat-x;
	color: #a4121c;
	font: 20px verdana,sans-serif;
	vertical-align: middle;
}

.navigationMenu A:link {
	text-decoration: none;
}

.navigationMenu A:hover {
	text-decoration: underline;
}


.navigationMenuBottom {
	width: 70%;
	height: 6px;
	background-image:url('../images/navigation_menu_bg_bottom.png');
	background-repeat:repeat-x;
	margin: 0;
	padding: 0;
	font: 1px verdana,sans-serif;
}

.navigationMenu a {
    color: #a4121c;
}

.menuSpring {
	width: 30px; 
	display: inline-block;
}

.promotions {
	list-style-type: none;
	padding-left: 8px;
	margin-left: 0;
}

.promotionItem {
	margin-bottom: 25px;
}

.promotionTitle {
	color: #a4121c;
	font: 15px verdana,sans-serif;
}

.promotionCaption {
	color: #7e7e7e;
	font: 10px verdana,sans-serif;
}

.promotionText {
	color: #7e7e7e;
	font: 14px verdana,sans-serif;
}

.contentHeader {
	background-color:#c2c2c2;
	width: 100%;
	height: 16px;
	text-align: center;
	padding-bottom: 5px;
	color: #ffffff;
	font: 14px verdana,sans-serif;
}

.contentData {
	width: 90%;
	margin: 10px;
	color: #494949;font: 11px verdana,sans-serif;
	display: block;
}

.contentHeader a {
	color: #ffffff;
	font: 14px verdana,sans-serif;
	text-decoration: none;
}

.contentHeader a:hover {
	color: #ffffff;
	font: 14px verdana,sans-serif;
	text-decoration: underline;
}

.contentHeaderSpring {
	width: 60px; 
	display: inline-block;
}

.entry {
	width: 45%;
	display: block;
	padding-left: 25px;
	padding-top: 25px;
	height: 280px;
	color: #757575;
}

.entryTitle {
	font: 15px verdana,sans-serif;
	padding-left: 15px;
	margin-top: 0;
	margin-bottom: 0;
}

.entryCaption {
	font: 10px verdana,sans-serif;
	padding-left: 15px;
}
