/*GLOBAL STYLE*/

* {
    font-size: 13px;
    font-family: Arial,sans-serif;
    border-spacing: 0;
}

body {
    background-color: #EEE;
    margin: 0;
    padding: 0;
    border: 0;
}


/*HIGHLIGHT LINK*/

.addressHint, .detailsDialogLink, .alternateDiscountOption {
    text-decoration: none;
	border-bottom: 1px dashed;
	color: #00008b;
    margin-left: 2px;
}

.addressHint:hover, .detailsDialogLink:hover, .alternateDiscountOption:hover {
    cursor: pointer;
}


/*MAINMENU & SUBMENU*/

.mainmenu {
    width: 100%;
    line-height: 23px;
    text-align: center;
    background-color: #8b8;
    border-bottom: 1px solid #131;
    border-top: 1px solid #131;
    margin: 0;
}

.mainmenu a {
    text-decoration: none;
    color: #131;
    font-weight: bold;
}

.mainmenu a:hover, .submenu a:hover {
    color: #EEE;
}

.mainmenu .selected {
    color: #EEE;
}

.submenu {
    width: 100%;
    text-align: center;
    background-color: #696;
    border-bottom: 1px solid #131;
    margin: 0;
}

.submenu a {
    text-decoration: none;
    color: #020;
    font-size: 12px;
    font-weight: bold;
}


/*FORM HIGHLIGHT*/

.content {
    width: 100%;
}

.row {
    text-align: right;
    width: 45%;
    margin: 0;
    padding: 10px 25px 5px 10px;
}

.over {
    background: #C2F0B2;
}

.row-error {
    background: #F78B83;
}

.basic-input {
    width: 200px;
    font-size: 11px !important;
    padding: 5px;
    border: 1px solid #131 !important;
    margin-left: 5px;
    vertical-align: middle;
}

.select-input {
    padding: 0px ! important;
    height: 25px;
}

.number-input {
    width: 67px ! important;
}

.orders-product-selector {
    width: 165px ! important;
}

.orders-group-selector {
    width: 80px ! important;
}

.description-input {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
}

.date-input {
    width: 150px ! important;
}

.reversed-gravity {
    text-align: left;
}

.clear-row {
    clear: both;
}

#statusData {
    margin-top: 13px;
}

/*FORM & TABLE*/

.button {
    width: 150px;
    border: 1px solid #131 ! important;
    color: #131 ! important;
    background: #EEE ! important;
    font-size: 11px ! important;
    font-family: Verdana,sans-serif ! important;
    margin-left: 10px;
}


.delete-item-button {
    width: 36px ! important;
}

.form-section-caption {
    /**
        TODO: do something
    **/
}

.spacer {
    width: 222px;
    float: right;
}

.spacer-left {
    width: 400px;
    float: left;
}

.button:hover {
    background: #8b8 ! important;
}

#row {
    width: 100%;
}

#row a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

#row td {
    text-align: left;
    line-height: 21px;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    padding-left: 3px;
}

.h3table {
    text-align: center;
}

.reztable {
    text-align: center;
}

.reztable a {
    color: #131;
    text-decoration: underline;
    font-weight: bold;
}

.reztable a:hover {
    cursor: pointer;
}

th,td {
    vertical-align: top;
}

th {
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
    border-right: 1px solid #777;
    line-height: 24px;
}

tr.odd {
    background-color: #EFB;
}

tr.even {
    background-color: #CD9;
}

/* Collapsed blocks */

.collapsed-block {
    width: 0 ! important;
}

.collapsed-content {
    display: none;
}

.toggle-collapsed-content {
    text-decoration: none ! important;
    border-bottom: 1px dashed;
    color: #90909b ! important;
    margin-left: 2px;
}

.toggle-collapsed-content:hover {
    cursor: pointer;
}


/*MESSAGE*/

.error {
    color: #8b0000;
    line-height: normal;
}

.info {
    color: darkgreen;
}

.pagebanner {
    float: right;
    font-size: 13px;
    color: #131;
    padding-top: 15px;
    margin-right: 10px;
}

.pagelinks {
    float: right;
    font-size: 11px;
    text-decoration: underline;
    margin-right: 10px;
}


/*OTHER*/

.info-block {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #786 !important;
}

ul#icons {
    margin: 0;
    padding: 0;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 14px;
}

ul#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

.sortable {
    background-image: url('../images/sort_undef.png');
    background-repeat: no-repeat;
    padding-left: 22px; /* width of the image plus a little extra padding */
}

.order1 {
    background-image: url('../images/sort_asc.png');
    background-repeat: no-repeat;
}

.order2 {
    background-image: url('../images/sort_desc.png');
    background-repeat: no-repeat;
}

.stats-common-details {
    text-align: left;
    margin-left: 20px;
}